.elementor-218 .elementor-element.elementor-element-9d72919:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap:hover {
  border-right-style: solid;
  border-right-width: 5px;
  border-width: 0px 0px 5px 0px;
}
.elementor-281 .elementor-element.elementor-element-51d1cdc .sub-menu a.hfe-sub-menu-item {
  border-width: 0px;
  position: static;
}
html > body > #page > #masthead > div > div > div > section > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div > div > nav > #menu-1-51d1cdc > #menu-item-366 > div > a > span > i {
  display: none;
}
html > body > #page > #masthead > div > div > div > section > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div > div > nav > #menu-1-51d1cdc > #menu-item-368 > div > a > span > i {
  display: none;
}
html > body > #page > #masthead > div > div > div > section:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div > div > nav > #menu-1-51d1cdc > #menu-item-366 > ul > #menu-item-437 > ul > #menu-item-438 > a {
  margin-top: -19px;
}
html > body > #page > #masthead > div > div > div > section > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div > div > nav > #menu-1-51d1cdc > #menu-item-366 > div > a {
  padding-right: 0px;
}
html > body > #page > #masthead > div > div > div > section:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div > div > nav > #menu-1-51d1cdc > #menu-item-368 > div > a {
  padding-right: 0px;
}
.ast-container {
  padding-right: 0px;
  padding-left: 0px;
}
.elementor-281 .elementor-element.elementor-element-171bf00 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
  padding-right: -7px;
  padding-top: -10px;
  padding-bottom: 3px;
  margin-top: -5px;
  margin-bottom: -6px;
}
